<div class="p-5">
    <button
        class="absolute right-0 top-0 bg-blue-200 hover:bg-blue-700 active:bg-blue-800 text-white font-bold py-2 px-4 rounded"
        (click)="reloadData()"
    >
        Reload
    </button>

    <div
        class="flex flex-row flex-wrap"
        *ngIf="(yearBalances$ | async).length > 0"
    >
        <button
            class="z-10 flex flex-col items-center m-5 p-5 bg-slate-100 hover:bg-slate-200 active:bg-slate-300 rounded-lg shadow-xl cursor-pointer"
            *ngFor="let yearBalance of yearBalances$ | async; let i = index"
            (click)="onYearSelectionChange(years[i])"
        >
            <h3 class="font-bold">{{ years[i] }}</h3>
            <h4
                class="ml-2"
                [class.positive]="yearBalance > 0"
                [class.negative]="yearBalance < 0"
            >
                {{ yearBalance | number }}
            </h4>
        </button>
    </div>

    <div class="flex flex-row justify-around space-x-10 py-10">
        <div class="rounded-lg shadow-xl flex-grow w-1/2 p-5">
            <zingchart-angular
                (node_click)="nodeClicked($event)"
                [config]="config"
                [series]="valuesPerMonth$ | async"
                [height]="500"
            ></zingchart-angular>        
        </div>
        <div class="rounded-lg shadow-xl w-1/2 p-5">
            <app-pie-chart></app-pie-chart>
        </div>
    </div>

    <app-entry-list (onEntryChanged)="onEntryChanged($event)" [entries]="filteredBankDataEntries$ | async"></app-entry-list>
</div>
