<button mat-raised-button (click)="reloadData()">Reload</button>

<h2>Year balances</h2>
<div class="yearBalances" *ngIf="(yearBalances$ | async).length > 0">
    <div class="yearBalance" *ngFor="let yearBalance of yearBalances$ | async, let i = index" >
        <h3>{{years[i]}} :</h3> 
        <h4 [class.positive]="yearBalance > 0"
            [class.negative]="yearBalance < 0">
            {{yearBalance | number}}
        </h4>
    </div>
</div>

<mat-form-field>
    <mat-label>Select a year</mat-label>
    <mat-select [value]="selectedYear$ | async" (selectionChange)="onYearSelectionChange($event)">
        <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
    </mat-select>
</mat-form-field>

<div> <zingchart-angular (node_click)="nodeClicked($event)" [config]="config" [series]="series$ | async" [height]="500"></zingchart-angular> </div>